.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f6f0ee;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  text-align: center;
  background-color: #f6f0ee;
}

textarea {
  resize: vertical;
  padding: 50px;
  background-color: #f6f0ee;
}
 
.submitButton {
  padding: 3px;
  text-align: center;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 35px;
  font-family: "Just Another Hand", cursive;
}
