.hero {
  background-image: url(../../assets/headerImg.png);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.heroText {
  color: white;
  height: 50%;
  font-family: "Just Another Hand", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroText h1 span {
  font-size: 35px;
}
