.hero {
  background-image: url(../../assets/headerImg.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
}

.heroText {
  color: white;
  height: 50%;
  font-family: "Just Another Hand", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroText h1 span {
  font-size: 35px;
}
