.container {
  padding: 1em;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.categoryItem {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
