.container {
  text-align: center;
}

.container h1 {
  font-family: "Just Another Hand";
  font-size: 40px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #f6f0ee;
}

.categoryItem {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.categoriesText {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  font-size: 18px;
  font-family: "Just Another Hand";
}
