.navigation {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Cart Container */
.cartContainer {
  position: relative;
}

.cartIcon {
  width: 40px;
  height: 40px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Burger Button */
.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* Menu List */
.navLinks {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  background: #4a4a4a;
  padding: 10px;
  list-style: none;
  text-align: right;
}

.navLinks.open {
  display: block;
}

.navLinks li {
  margin: 10px 0;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}