.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 14px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }


.info{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
font-size: 15px;
text-wrap: nowrap;
gap: 6px;
font-family: "Just Another Hand";
}