.container {
    padding: 1em;
    text-align: center;
    
  }
  
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    
  }
  
  
  .categoryItem {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
    
  }
  