.container {
  padding: 1em;
}

.dishLink {
  text-decoration: none;
  color: white;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 auto;
}

.categoryItem {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dishesItem {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100px;

  align-items: center;
  justify-content: center;
}

.titleOverlay {
  color: white;
  text-align: center;
  margin: 10px;
  text-align: center;
  font-family: "Just Another Hand";
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}
